* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn1 {
    height: 64px;
    width: 150px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}

.btn2 {
    width: 160px;
    height: 64px;
    left: 460px;
    top: 589px;
    color: #FD6E0A;
    /* border-style: solid #FD6E0A; */
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.orange {
    color:
        #FD6E0A;
}

/* banner styles */
.banner {
    display: flex;
    margin: 0 200px;
}

.banner-title {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.babushab {
    margin-left: 400px;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;

}

/* section style */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 150px;
    text-align: center;
    align-items: center;
}

.s-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.s-des {

    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* About Info Container Style */
.about-info-con {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color:#757575;
}

.info-des {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}